#conocimiento{
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    background: var(--rosaClaro);
    background: linear-gradient(0deg, rgba(255,209,226,1) 0%, rgba(253,235,241,1) 99%);
    padding-top: 3.125rem;
    min-height: 62.5rem;
}

:root {
	--rosafuerte:rgb(250, 45, 120);
	--rosaClaro: rgb(255,209,226) ;
	--rosaHover:rgb(207, 76, 124) ;
}


.knowledge{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.my-knowladge{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-knowladge{
    width: 100%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin: 3% 0;
}

.p-knowladge {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 20%;
    margin-bottom: 3%;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 90px;
    padding: 4%;
}

.all-icons{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


.box-icon{
    width: 220px;
    height: 200px;
    border: 1px solid rgb(248, 179, 205);
    background-color: white;
    border-radius: 3%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.box-icon:hover{
    border: 1px solid  var(--rosafuerte);
    
}

.box-icon:hover .icon-name{
    color: var(--rosafuerte) ; 
}

.someone{
    background-color: var(--rosafuerte);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5%;
    color: white;
}

.someone, .fa fa-quote-right{
    font-size: 100px;
     
}

.someone p{
    font-size: 20px;
    padding: 6%;
}

.someone h2{
    font-size: 40px;
    padding: 30px;
}   

@media (max-width:600px){
      
   .all-icons{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}


@media (max-width:600px){
    .title-knowladge{
        font-size: 2.5rem;
    }

    .box-icon{
        width: 150px;
        height: 140px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

}