#contacto{
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    background-color:rgb(253, 235, 241) ;
    align-items: center;
    padding: 50px;
    width: 100%;
}
:root {
	/* fondoPrimario es la variable */
	--rosafuerte:rgb(250, 45, 120);
	--rosaClaro: rgb(255,209,226) ;
	--rosaHover:rgb(207, 76, 124) ;
}
 
.card-contact{
    background-color: white;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--rosafuerte);
    flex-direction: row;
    padding: 1%;
}

.contact-me{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.contact{
    font-size: 60px;
    display: flex;
    justify-content: left;
    font-weight: 800;
    margin: 5%;
}

.sites-list{
    list-style: none;
    color: var(--rosafuerte);
    margin-bottom: 15%;

}

.site {
    color: var(--rosafuerte);
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    
}


.the-site{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgb(87, 85, 85);
    align-items: baseline;
}    

.the-site:hover {
    color: var(--rosafuerte);
}

.the-site:hover .site{
    background-color: var(--rosafuerte);
    color: white;
}


.why-contact{
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 5%;
    width: 60%;
}

.button{
    background-color: var(--rosafuerte);
    box-shadow: 0 7px 20px rgba(0, 0 , 0 , .2);
    color: white;
    border-radius: 100px ;
    justify-content: center;
    margin-top: 7px;
    padding: 9px;
    border: 0;
}

.div-form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: space-between;
    
}

.name-form{
    display: flex;
    flex-direction: row;
}

form input{
    background-color: rgb(253, 235, 241) ;
    border: 1px solid rgb(253, 235, 241) ;
    border-radius: 20px;
    width: 18em;
    height: 2.5em;
    border: 0;
    padding: 10px; 
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

textarea{
    padding: 10px;
}

label {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    margin-top: 5px;
  }


input:focus,
textarea:focus{
  box-shadow: 0px 0px 7px var(--rosafuerte);
  outline: 0;
}

input:valid:focus,
textarea:valid:focus {
  box-shadow: 0px 0px 5px #87ee37;
}

input:invalid:not(:placeholder-shown):focus,
textarea:invalid:not(:placeholder-shown):focus {
  box-shadow: 0px 0px 5px #fd3d4d;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border: 1px solid #fd3d4d;
}
@media (max-width: 700px){
    .card-contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name-form{
        display: flex;
        flex-direction: column ;
    }

    .contact{
        display: flex;
        justify-content: center;
       
    }

    .why-contact{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 380px){
    .card-contact{
        padding: 0px;
       
    }
    .contact{
        font-size: 2rem;
    }
    .contact-me{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name-form{
        display: flex;
        justify-content: flex-start;
        }
    

    }
