#hello{
    width: 100%;
    height: 47rem;
    padding: 140px 0;
    display: flex;
    font-family: 'Commissioner', sans-serif;
    
}

.about-me{
    display: flex;
    justify-content: space-evenly;
        
}

.article-hello{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.orquest{
   display: flex;
   border: 3px double rgb(250, 45, 120);
   border-radius: 100%;
   width: 40%;
   overflow: hidden;
  

  }

.greeting{
    font-size: 30px;
    font-weight: 50;
    
}

.my-name{
    font-family: 'Grandstander', cursive;
    font-size: 60px;
    font-weight: 800;
    color:rgb(250, 45, 120) ;
}

.description{
   font-size: 20px;
}

.button{
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(250, 45, 120) ;
    box-shadow: 0 7px 20px rgba(0, 0 , 0 , .2);
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.button:hover{
    background-color: rgb(207, 76, 124);
}

@media (max-width: 600px){
    .about-me{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0%;
        align-items: center;
    }

    .orquest{
        width: 60%;
        height: 800px;
        margin-top: 3rem;
              
    }

    .article-hello{
        width: 100%;
        height: 32rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
}

@media (max-width: 380px){
    .about-me{
        padding: 0%;
    }
    .description{
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1rem;
        
    }
}
