*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
	--rosafuerte:rgb(250, 45, 120);
	--rosaClaro: rgb(255,209,226) ;
	--rosaHover:rgb(207, 76, 124) ;
}

#menu, #label-icon{
    display: none;
}



header{
    background: var(--rosaClaro);
    background: linear-gradient(0deg, rgba(255,209,226,1) 0%, rgba(253,235,241,1) 99%);
    box-shadow: 0 7px 20px rgba(0, 0 , 0 , .2);
    min-width: 100%;
    min-height: 12%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    }

.nav-menu{
    display: flex;
    list-style: none;
    
}   


.nav-link{
    margin: 1rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    align-items: center;
    text-align: center;   
    
}

.menu-button{
    background-color:var(--rosafuerte);
    box-shadow: 0 7px 20px rgba(0, 0 , 0 , .2);
    color: white;
    border-radius: 100px ;
    justify-content: center;
    margin-top: 0.44rem;
    padding: 0.56rem;
}

.nav-link:hover {
    color: var(--rosafuerte) ;
    
}

.menu-button:hover {
    background-color: var(--rosaHover);
    color: white;
}


  
/*Media querys*/

@media (max-width: 600px){
   
    .nav-menu{
        display: none;
    } 

    #menu:checked  ~ .nav-menu{
        display:block;
    }
      
      #menu {
        display: none;
      }
     

      #label-icon {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid var(--rosafuerte);
        color: var(--rosafuerte);
        font-size: 2rem;
        border-radius: 5px;
        width: 45px;
        height: 50px;
        line-height: 2.8rem;
        text-align: center;
        user-select: none;
        margin-right: 31.25rem;               
      }

      .nav-menu{
        margin-top:0;
        padding: 0;
        width: 200px;
        position: absolute;
      }

      .nav-item {
        display: block;
        background: rgb(245, 229, 241);
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
      }

      .nav-item:hover {
        filter: brightness(1.75);
      }


  }